<!-- Formulário de cadastro de Andamento-->

{% extends 'core/index.html' %}

{% load static %}

{% block titulo %}
<title>Cadastrar Andamento Adm</title>
{% endblock %}

{% block conteudo %}
<h3>Cadastrar Andamento Adm</h3>
<hr>

<div class="container p-5 ">
    <br>
    <br>
    <h3> Cadastro de Processo Administrativo</h3>
    <hr>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label for="formGroupExampleInput">N° Processo</label>
                <input class="form-control" type="text" name="processo" placeholder="" readonly>
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Andamento</label>
                <input class="form-control" type="text" name="datandamento" placeholder="Data do andamento">
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Andamento</label>
                <select name="andamento" class="form-control">
                    <option>Selecione o andamento</option>
                </select>
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Prazo</label>
                <input class="form-control" type="text" name="dataprazo" placeholder="Data do prazo">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="formGroupExampleInput">Localização</label>
                <input class="form-control" type="text" name="locprocesso" placeholder="Digite a localização">
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Funcionário</label>
                <input class="form-control" type="text" name="Funcionario" placeholder="Digite o funcionário">
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Recebimento</label>
                <input class="form-control" type="text" name="datrecebimento" placeholder="Data do recebimento">
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Complemento</label>
                <input class="form-control" type="text" name="complemento" placeholder="Digite o complemento">
            </div>
        </div>    
        <br>
        <div class="row">
            <div class="col">
                <label for="formGroupExampleInput">Arquivo</label>
                <input class="form-control" type="text" name="arq1" placeholder="Digite a localização">
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Arquivo</label>
                <input class="form-control" type="text" name="arq2" placeholder="Digite o funcionário">
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Arquivo</label>
                <input class="form-control" type="text" name="arq3" placeholder="Data do recebimento">
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Arquivo</label>
                <input class="form-control" type="text" name="arq4" placeholder="Digite o complemento">
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Arquivo</label>
                <input class="form-control" type="text" name="arq5" placeholder="Digite o complemento">
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Arquivo</label>
                <input class="form-control" type="text" name="arq6" placeholder="">
            </div>
            <div class="col">
                <label for="formGroupExampleInput">Arquivo</label>
                <input class="form-control" type="text" name="complemento" placeholder="">
            </div>
        </div>  
        <br>  
        <div>
            <button type="submit" class="btn btn-primary btn-sm">Cadastrar</button>
            <button class="btn btn-danger btn-sm" id="btnVoltar">Cancelar</button>
        </div>
    </form>
</div>


<!--Código CSS + JavaScript para criar botão de voltar para a página anterior-->
<script>
    // Adicione um evento de clique ao botão
    document.getElementById("btnVoltar").addEventListener("click", function() {
        // Utilize a função window.history.back() para voltar para a página anterior
        window.history.back();
    });
</script>

{% endblock %}
