<!-- Formulário de edição de Andamento-->

{% extends 'core/index.html' %}

{% load static %}

{% load widget_tweaks %}  <!--# Biblioteca Widget - Muito importante - Torna possível eu criar um formulário HTML próprio sincronizado com as Class Based Views.-->

{% block titulo %}
<title>Cadastrar Andamento Adm</title>
{% endblock %}

{% block conteudo %}
<div class="container p-5">
    <br><br>
    <div class="card">
        <div class="card-header text-white" style="background-color: black;">
            <h5 style="text-align: center;">Editar Andamento</h5>
         </div>
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label for="andamento">Andamento</label>
                        {% render_field form.andamento class="form-control" id="andamento" %}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="datandamento">Andamento</label>
                        {% render_field form.datandamento class="form-control" id="datandamento" %}
                    </div>
                    <div class="col">
                        <label for="dataprazo">Prazo</label>
                        {% render_field form.dataprazo class="form-control" id="dataprazo" %}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="locprocesso">Localização</label>
                        {% render_field form.locprocesso class="form-control" id="locprocesso" %}
                    </div>
                    <div class="col">
                        <label for="Funcionario">Funcionário</label>
                        {% render_field form.Funcionario class="form-control" id="Funcionario" %}
                    </div>
                    <div class="col">
                        <label for="datrecebimento">Recebimento</label>
                        {% render_field form.datrecebimento class="form-control" id="datrecebimento" %}
                    </div>
                    <div class="col">
                        <label for="complemento">Complemento</label>
                        {% render_field form.complemento class="form-control" id="complemento" %}
                    </div>
                </div>    
                <br>
                <div class="row">
                    <div class="col">
                        <!-- <label for="arq1">Arquivo</label> -->
                        {% render_field form.arq1 class="form-control"id="arq1" id="arq1" %}
                    </div>
                    <div class="col">
                        <!-- <label for="arq2">Arquivo</label> -->
                        {% render_field form.arq2 class="form-control" id="arq2" %}
                    </div>
                    <div class="col">
                        <!-- <label for="arq3">Arquivo</label> -->
                        {% render_field form.arq3 class="form-control" id="arq3" %}
                    </div> 
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <!-- <label for="arq4">Arquivo</label> -->
                        {% render_field form.arq4 class="form-control" id="arq4" %}
                    </div>
                    <div class="col">
                        <!-- <label for="arq5">Arquivo</label> -->
                        {% render_field form.arq5 class="form-control" id="arq5" %}     
                    </div>
                    <div class="col">
                        <!-- <label for="arq6">Arquivo</label> -->
                        {% render_field form.arq6 class="form-control" id="arq6" %}   
                    </div> 
                </div> 
                <br>
                <div>
                    <button type="submit" class="btn btn-success btn-sm">Salvar</button>
                    <button class="btn btn-danger btn-sm" id="btnVoltar">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Código CSS + JavaScript para criar botão de voltar para a página anterior-->
<script>
    // Adicione um evento de clique ao botão
    document.getElementById("btnVoltar").addEventListener("click", function() {
        // Utilize a função window.history.back() para voltar para a página anterior
        window.history.back();
    });
</script>
    
{% endblock %}
