<!-- Formulário de cadastro de Processo Administrativo-->

{% extends 'core/index.html' %}

{% load static %}

{% block titulo %}
<title>Cadastrar Processo Adm</title>
{% endblock %}

{% block conteudo %} 
 
<h3>Cadastro de Processo Administrativo</h3>
<hr>

<div class="container">

    <form action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.as_p}}

        <button type="submit" class="btn btn-primary">Cadastrar</button>
        
    </form>

</div>

<!--Código CSS + JavaScript para criar botão de voltar para a página anterior-->
<div class="container mt-4">
    <button class="btn btn-danger" id="btnVoltar">Cancelar</button>
</div>

<script>
    // Adicione um evento de clique ao botão
    document.getElementById("btnVoltar").addEventListener("click", function() {
        // Utilize a função window.history.back() para voltar para a página anterior
        window.history.back();
    });
</script>


{% endblock %}