{% load static %}
{% load bootstrap4 %} 
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block titulo %}
    <title>CP4</title>
    {% endblock %}

    {% bootstrap_css %}
</head>
<body>

    <div class="container">
        {% block menu %}
        <div class="bg-light">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <img src="{% static 'img/CP4.png' %}" alt="" width="80">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Início <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Arquivo
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'cre-proc-adm' %}">Novo Processo Administrativo Tributário</a>
                        <a class="dropdown-item" href="#">Novo Processo Judicial</a>
                    </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Consultas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'list-proc-adm' %}">Processos Administrativos Tributários</a>
                        <a class="dropdown-item" href="#">Processos Judiciais</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Processos Tributários Arquivados</a>
                        <a class="dropdown-item" href="#">Processos Judiciais Arquivados</a>
          
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cadastros
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Cadastro de Tipos de Andamento</a>
                        <a class="dropdown-item" href="#">Cadastro de Varas/Comarcas</a>
                        <a class="dropdown-item" href="#">Cadastro de Ações</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Corrigir Pessoa</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Relatórios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tributários
                        </a>
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Jucidiários
                        </a>
                        </div>
                    </li>
                </ul>
                </div>
            </nav>
          </div>
        {% endblock %}
    </div>

    <div class="container">
        {% block conteudo %}    
        <h1>Página Inicial</h1>
        {% endblock %}
    </div>

    {% block rodape %}
    <div class="bg-light">

    </div>
    {% endblock %}

    {% bootstrap_javascript jquery='full' %}
</body>
</html>