<!-- Formulário de cadastro de Processo Administrativo-->

{% extends 'core/index.html' %}

{% load static %}

{% load crispy_forms_tags %} <!-- Para usar o bootstrap4 para formulários -->

{% block titulo %}
<title>Cadastrar Processo Administrativo</title>
{% endblock %}

{% block conteudo %}  
<h3>Lista de andamentos do Processo</h3>
<hr>

<!--<br></br>-->

<h5>Andamentos do Processo</h5>
<!--Lista de andamentos-->
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Processo</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Prazo</th>
            <th>Editar/Excluir</th> 
            <th>Arquivo</th>
        </tr>

        {% for andamento in object_list %}
        <tr>
            <td> {{ andamento.processo }}</td>
            <td> {{ andamento.datandamento }}</td>
            <td> {{ andamento.andamento }}</td>
            <td> {{ andamento.dataprazo }}</td>
            <td>
                <a href="{% url 'upd-and-proc-adm' andamento.pk %}" class="btn btn-warning btn-sm">Abrir Andamento</a>
                <a href="{% url 'del-and-proc-adm' andamento.pk %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
            <td><a href="{% url 'list-arq-and-adm' andamento.pk %}" class="btn btn-warning btn-sm">Listar</a>
            </td>
        </tr>

        {% empty %} <!-- Se não tiver nenhum registro de processos, irá retornar a mensagem a baixo -->

        <tr>
            <td colspan="3">Nenhum andamento registrado</td>
        </tr>

        {% endfor %}

    </table>
</div>

<hr>

{% endblock %}