<!--Lista de Arquivos do andamento-->

{% extends 'core/index.html' %}

{% load static %}

{% block titulo %}
<title>Arquivos Andamento Adm</title>
{% endblock %}

{% block conteudo %} 
<div class="container p-5">
    <br>
    <br>
    <h3>Arquivos do Andamento</h3>
    <hr>
    <br>

    <!--Tabela(lista) de Arquivos do andamento-->
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Arquivo</th>
                <th>Arquivo</th>
                <th>Arquivo</th>
                <th>Arquivo</th>
                <th>Arquivo</th>
                <th>Arquivo</th>
            </tr>

            {% for arquivo in arquivos %}
            <tr>
                {% if arquivo.arq1 %}
                    <td>
                        {{ arquivo.arq1.name }}
                        <a href="{{ arquivo.arq1.url }}" class="btn btn-info btn-sm" target="_blank"><i class="bi bi-download" style="font-size: 15px;"><!--Icone de download--></i></a>
                    </td>
                {% endif %}

                {% if arquivo.arq2 %}
                    <td>
                        {{ arquivo.arq2.name }}
                        <a href="{{ arquivo.arq2.url }}" class="btn btn-info btn-sm" target="_blank"><i class="bi bi-download" style="font-size: 15px;"><!--Icone de download--></i></a>
                    </td>
                {% endif %}

                {% if arquivo.arq3 %}
                    <td>
                        {{ arquivo.arq3.name }}
                        <a href="{{ arquivo.arq3.url }}" class="btn btn-info btn-sm" target="_blank"><i class="bi bi-download" style="font-size: 15px;"><!--Icone de download--></i></a>
                    </td>
                {% endif %}

                {% if arquivo.arq4 %}
                    <td>
                        {{ arquivo.arq4.name }}
                        <a href="{{ arquivo.arq4.url }}" class="btn btn-info btn-sm" target="_blank"><i class="bi bi-download" style="font-size: 15px;"><!--Icone de download--></i></a>
                    </td>
                {% endif %}

                {% if arquivo.arq5 %}
                    <td>
                        {{ arquivo.arq5.name }}
                        <a href="{{ arquivo.arq5.url }}" class="btn btn-info btn-sm" target="_blank"><i class="bi bi-download" style="font-size: 15px;"><!--Icone de download--></i></a>
                    </td>
                {% endif %}

                {% if arquivo.arq6 %}
                    <td>
                        {{ arquivo.arq6.name }}
                        <a href="{{ arquivo.arq6.url }}" class="btn btn-info btn-sm" target="_blank"><i class="bi bi-download" style="font-size: 15px;"><!--Icone de download--></i></a>
                    </td>
                {% endif %}
                
            </tr>

            {% empty %} <!-- Se não tiver nenhum registro de arquivos, irá retornar a mensagem a baixo -->

            <tr>
                <td colspan="3">Nenhum arquivo encontrado</td>
            </tr>

            {% endfor %}

        </table>
    </div>

    <br>
    <!--Código CSS + JavaScript para criar botão de voltar para a página anterior-->
    <button class="btn btn-secondary btn-sm" id="btnVoltar">Voltar</button>

    <script>
        // Adicione um evento de clique ao botão
        document.getElementById("btnVoltar").addEventListener("click", function() {
            // Utilize a função window.history.back() para voltar para a página anterior
            window.history.back();
        });
    </script>

</div>
{% endblock %}