<!--Lista de andamentos do processo administrativo-->

{% extends 'core/index.html' %}

{% load static %}

{% block titulo %}
<title>Lista de andamentos</title>
{% endblock %}

{% block conteudo %}
<h3>Andamentos do Processo: X</h3>
<hr>


<!--Formulário do campo de pesquisa(Filtro)-->
<form action="?" method="get">
    <input type="text" name="anda" id="" value="{{ request.GET.anda }}" class="p-1 border" autocomplete="off" placeholder="Nº do Processo">
    
    <button type="submit" class="btn btn-success">Buscar</button>
    
    <a href="{% url 'list-and-proc-adm' %}" class="btn btn-light">Limpar</a>
</form>

<br></br>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Ordem</th>
            <th>Processo</th>
            <th>Data</th>
            <th>Tipo</th>
            <th>Prazo</th>
            <th>Usuário</th>
            <th>Alterar/Excluir</th> 
                  
        </tr>

        {% for andamento in object_list %}
        <tr>
            <td> {{ andamento.pk }}</td>
            <td> {{ andamento.processo }}</td>
            <td> {{ andamento.datandamento }}</td>
            <td> {{ andamento.andamento }}</td>
            <td> {{ andamento.dataprazo }}</td>
            <td> {{ user }}</td> 
            <td>
                <a href="{% url 'upd-and-proc-adm' andamento.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'del-and-proc-adm' andamento.pk %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>

        {% empty %} <!-- Se não tiver nenhum registro de processos, irá retornar a mensagem a baixo -->

        <tr>
            <td colspan="3">Nenhum andamento registrado</td>
        </tr>

        {% endfor %}

    </table>
</div>


{% endblock %}