{% extends 'core/index.html' %}

{% load static %}

{% block titulo %}
<title>Login</title>
{% endblock %}

{% block conteudo %}

{% if request.user.is_authenticated %}

<br></br>
<br></br>

<!-- Painel de aviso 'Sem permissão de acesso' -->
<div class="container">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Usuário sem permissão de acesso!</h4>
        <p>Seu usuário não possui permissões para gerar um novo registro ou alterar um registro existente, apenas realizar consulta.</p>
        <hr>
        <p class="mb-0">Qualquer dúvida, entrar em contato com o Suporte</p>
    </div>
</div>

<div class="container">
<a href="{% url 'list-proc-adm' %}" class="btn btn-warning btn-sm">Voltar</a>
</div>

{% else %}

<!-- Painel de Login principal -->
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-1 mt-md-1 pb-1">
                            <!-- <h2 class="fw-bold mb-2 ">CP-Aeg</h2> -->
                            <img src="{% static 'img/logo-aeg-semfundo.png' %}" alt="" width="200">
                            <p class="text-white-50 mb-5">Entre com seu usuário e senha</p>
                            <div class="container ">
                                <form action="" method="post">
                            
                                    {% csrf_token %}

                                    {{ form.as_p }}

                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Entrar</button>
                                </form>             
                            </div>
                            <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>

{% endif %}

{% endblock %}

